/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: white;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #42a6a6;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #293061;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 18px;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 90%;
  padding-bottom: 60px;
}
.message {
  margin-top: 20px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 1px solid grey;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: relative;
  right: 0;
  width: 85%;
}
.msgbtn{
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  display: block;
  width: 30%;
  border : none;
  background-color: lightblue;
  padding: 7px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.msgbtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

table {
  margin-top: 10px;
  border-collapse: collapse;
  width: 70%;
}

th, td {
  font-size: 18px;
  padding: 4px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.submitUsername{
  border-radius: 20px;
  background:#42a6a6!important;
}
.sendmsg,.submitUsername{
  padding: 10px;
  background: #2196F3;
  color:white;
  width: 10%;
  height: 60px;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.sendmsg:hover,.submitUsername:hover {
  background: #0b7dda;
}

.sendmsg:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
}
tr:hover {background-color: #f5f5f5;}